body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #0edf3b;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

h1, h2 {
    color: #333;
}

.map {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #333;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0edf3b;
    color: white;
    margin-top: 20px;
}